body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  font-size: 50px;
  margin: 30px 0;
}

.gallery-container {
  width: 850px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid gray;
  background-color: #e6e6e6;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

.food-card {
  width: 160px;
  border: 1px solid gray;
  background-color: white;
  padding: 10px;
  text-align: center;
}
.food-card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.food-card img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.food-card h3 {
  margin-top: 10px;
  font-size: 18px;
}